.container img {
  width: 20vw;
  border-radius: 50%;
}

.container p {
  text-align: right;
  max-width: 44vw;
  font-size: 1.3vw;
  margin: 0 auto;
  padding: 10px;
}

@media (max-width: 1250px) {
  .container p {
    font-size: 5vw;
    max-width: 80vw;
  }

  .container img {
    width: 60vw;
    border-radius: 50%;
  }
}
