.container img {
width : 20vw;

}
.container p{
    text-align: right;
max-width: 44vw;
    font-size: 1.3vw;
     margin: 0 auto; padding: 10px; 
}

@media(max-width: 1250px) {
    .container p {
        font-size: 3vw;
        max-width: 60vw;
    }
    .container img {
        width: 60vw;
    }

}